html, body {
    overflow:auto;
}

.admin{
    margin: 1rem;
    margin-top: 1.5rem;
}

.container{
    max-width: 100%;
}

.icon::before{
    color: white;
}

.fa-envelope, .fa-robot, .fa-map, .fa-id-card{
    color: white !important;
}

.fa-envelope:hover, .fa-robot:hover, .fa-map:hover, .fa-id-card:hover{
    color: var(--secundary_color) !important;
}

/* client */
/*----------------------------*/
.card-body{
    margin-bottom: 1re;
}
.card-header, .card-header-child{
    background-color: var(--primary_color);
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header-child{
    height: 1rem;
}

.card-header, .card-header-child{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.top-with-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.dropdown-search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customers_block{
    padding: .5rem;
}

.small-btn{
    max-width: fit-content;
    border-radius: 0.25rem !important;
}

.small-btn i{
    color: white;
}

.small-btn:hover i{
    color: var(--secundary_color);
}

.customer-file, .center-section-file{
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.customer-file:hover, #itemSelectedCenter{
    opacity: 0.9;
    box-shadow: 0.8rem 0.8rem 0.5rem var(--grey_color_transparent);
}

.customer-file .card-header, .card-header-child, .center-section-file .card-header{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.customer-file .card-body, .center-section-file .card-body{
    background-color:  var(--primary_color);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding: 0.5rem;
}

.card-header-child{
    height: 1rem;
}

#data-card-customer{
    text-align: center
}

#btn-card-customer{
    display: flex;
    justify-content: flex-end;
}

#btn-card-customer button .fas{
    color: white;
}

#btn-card-customer button .fas:hover, 
#btn-card-customer button .fas:focus{
    color: var(--secundary_color);
    box-shadow: none;
}

#btn-card-customer button:focus{
    box-shadow: none;
}

.child-content{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-ellipsis-v{
    color: grey !important;
}

.fa-ellipsis-v:hover{
    color: var(--grey_color_transparent);
}

.patient-alerts-card-div{
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    margin-bottom: 1rem;
}

#patient-alert-color{
    width: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    height: auto; 
}

.patient-alerts-content{
    border-radius: 0 0.3rem 0.3rem 0;
    width: 90%;
}

.patient-alerts-content .container{
    margin: 0.5rem;
}

.patient-alerts-content .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-alerts-content .container .row img{
    width: 15%;
    height: auto;
}

.patient-alerts-content .container .row div{
    margin-left: 0.3rem;
}

.patient-alerts-content .container .row div p{
    margin-bottom: 0;
}

.justify-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#patient-alerts-content {
    border-radius: 0 0.3rem 0.3rem 0;
    width: 100%;
}

#patient-alerts-content .container-fluid, #robots-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#patient-alerts-content .container-fluid .row div p {
    margin-bottom: 0;
}

.image-inherit {
    width: inherit;
}

#patient-alerts-content .container-fluid .row, #robots-content .container-fluid .row {
    margin: 0.5rem;
}

#patient-alerts-card-div {
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    border-radius: 0.3rem;
    border: 1px solid var(--grey_color_transparent);
    margin-bottom: 0.8rem;
}

.align-right-btn{
    display: flex;
    justify-content: flex-end;
}

.dropdown-search .form-control{
    max-width: 10rem;
}

#data-card-customer div img{
    max-width: 100%;
}

/*----------------------------*/

.title{
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: var(--primary_color) !important;
    display: flex;
    align-content: center;
    
}

#title{
    margin: 0;
    margin-right: 0.5rem;
}

input{
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0.5rem 0;
}

.title .btn-primary{
    margin: 0.5rem;
    font-size: 0.7rem;
    padding: 0 0.3rem;
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-toggle:active,.dropdown-toggle:focus{
    border: none;
    box-shadow: none;
}

.dropdown-menu{
    min-width: 0rem;
}

.dropdown-item:active{
    background-color: transparent;
}

.fas{
    z-index: 1000;
    color: black;  
}

.client-name{
    margin-left: 1rem;
    margin-bottom: 0;
}


.card-information{
    margin-bottom: 2rem;
}

.card-info{
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--primary_color) !important;
   
}

.client{
    cursor: pointer;
}

.icon-information{
    padding: 0;
}

.imgCenter{
    max-height: 5rem;
    
}

.icon-more-information p{
    font-size: 0.65rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}



.scrollbar-personalizada{
    position: relative;
    max-height: 45rem;
    overflow: auto;
}





/* center */

.centers{
    padding: 1rem;
}

.center-list{
    padding: 0.5rem; 

}


.centername{
    font-size: 0.7rem;
    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.card-information{
    padding: 0%;
    /*box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);*/
}

.center-file{
    max-height: 40%;
    border: none;
   
}

.center-file .card-header{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.center-file .card-body{
    background-color:  var(--primary_color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.2rem;
}

.data-card-center{
    text-align: center
}

#card-center-info{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.btn-card-center{
    display: flex;
    justify-content: center;
}


.btn-card-patient a:focus{
    box-shadow: none;
}

#file-upload-button{
    background-color: var(--primary_color);
    border-radius: 0.5rem;
}




/* alerts */

.alert-patient{
    padding: 1rem;
}

.alert-robot{
    padding: 1rem;
}

.scrollbar-personalizada2{
    position: relative;
    max-height: 45rem;
    overflow: auto;
}

#list_robots{
    padding: 1rem;
    border: none;

}

#list_robots p{
   font-size: 0.7rem;
}

.image-problem-robot i{
    text-align: center;
    font-size: xx-large;
}


#list_patients .btn-primary{
   
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
  
    
}

.patient-alerts-card-div{
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    margin-bottom: 1rem;
}

.patient-alert-color{
    width: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    height: auto; 
}

.patient-alerts-content{
    border-radius: 0 0.3rem 0.3rem 0;
    width: 90%;
}

.patient-alerts-content .container{
    margin: 0.5rem;
}

.patient-alerts-content .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-alerts-content .container .row img{
    width: 15%;
    height: auto;
}

.patient-alerts-content .container .row div{
    margin-left: 0.3rem;
}

.patient-alerts-content .container .row div p{
    margin-bottom: 0;
}

.robots-list-btn{
    width: 100%;
    align-items: center;
    margin-top: 0.5rem;
}


/* table */

.table{
    text-align: center;
}

.table #tb-title{
    border:  2px solid #000000;
}

.table .alert-one{
    background-color: #ff9e99;
}

.table .alert-one td, .table .alert-one th{
    border:  2px solid #C23B22;
}

.table .alert-two{
    background-color: #ffdf9e;
}
.table .alert-two td, .table .alert-two th{
    border:  2px solid #ff6600;
}

.table .alert-three{
    background-color: #fdfd96;
}
.table .alert-three td, .table .alert-three th{
    border:  2px solid #f9d71c;
}

.table .alert-four{
    background-color: #d2ff95;
}
.table .alert-four td, .table .alert-four th{
    border:  2px solid #008000;
}

.table .alert-five{
    background-color: #bbeaff;
}
.table .alert-five td, .table .alert-five th{
    border:  2px solid #30106b;
}