.card-header{
    background-color: var(--primary_color);
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caret {
    position: absolute;
    right: 16px;
    top: 16px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #FFF;    
}

.dropdown-menu {width: 100%;}

/* -----------------------------------------
-------------- TABLAS ALERTAS --------------
----------------------------------------- */

.table{
    text-align: center;
}

.table #tb-title{
    border:  2px solid #000000;
}

.table .alert-one{
    background-color: #ff9e99;
}

.table .alert-one td, .table .alert-one th{
    border:  2px solid #C23B22;
}

.table .alert-two{
    background-color: #ffdf9e;
}
.table .alert-two td, .table .alert-two th{
    border:  2px solid #ff6600;
}

.table .alert-three{
    background-color: #fdfd96;
}
.table .alert-three td, .table .alert-three th{
    border:  2px solid #f9d71c;
}

.table .alert-four{
    background-color: #d2ff95;
}
.table .alert-four td, .table .alert-four th{
    border:  2px solid #008000;
}

.table .alert-five{
    background-color: #bbeaff;
}
.table .alert-five td, .table .alert-five th{
    border:  2px solid #30106b;
}

/* -----------------------------------------
------------ ALERTAS PACIENTES -------------
----------------------------------------- */
#patient-alerts-card-div{
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    border-radius: 0.3rem;
    border: 1px solid var(--grey_color_transparent);
    margin-bottom: 0.8rem;
}

#patient-alert-color{
    width: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    height: auto; 
}

#patient-alerts-content{
    border-radius: 0 0.3rem 0.3rem 0;
    width: 100%;
}

#patient-alerts-content .container-fluid, #robots-content .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#patient-alerts-content .container-fluid .row, #robots-content .container-fluid .row{
    margin: 0.5rem;
}

#patient-alerts-content .container-fluid .row div{
}

#patient-alerts-content .container-fluid .row div p{
    margin-bottom: 0;
}

/* -----------------------------------------
-------------- ENVIAR CORREO ---------------
----------------------------------------- */

.submit-btn-form{
    display: flex;
    justify-content: flex-end;
}

/* -----------------------------------------
-------------- BOTONES ACCION --------------
----------------------------------------- */
.btn_action {
    height: 88%;
    width: 88%;
    padding: 0.2rem;
    margin: 6%;
    font-size: revert;
}
.btn_action i{
    font-size: 1.8rem;
    padding: 0.3rem
}

.drop_down_selector, .drop_down_selector:hover, .drop_down_selector:focus{
    color: black;
    background-color: transparent;
    border: 0px;
    padding: 0;
}

.card{
    margin-bottom: 1rem;
}

.other-options div{
    align-items: center;
}

#robots-card-div{
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    border-radius: 0.3rem;
    border: 1px solid var(--grey_color_transparent);
    margin-bottom: 0.8rem;
}

.image-inherit{
    width: inherit;
}

.justify-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-center{
    align-items: center;
}

#dropdown_floors a{
    color: black;
}

#dropdown_floors li:hover a{
    color: var(--primary_color_dark_2);
    text-decoration: none;
}

#map-image{
    height: 80%;
}

.container-options{
    display: flex;
    flex-direction: column;
}

.container-options div label{
    background: var(--primary_color);
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.3rem;
}

.container-options-white div label{
    background: white;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.3rem;
}

.container-options .container{
    max-height: 15rem; 
    overflow-y: scroll;
}

.container-options div h6{
    text-align: center;
    font-weight: bold;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    background: var(--primary_color);
    padding: 0.2rem;
    margin-left: 15px;
    align-items: center;
    border-radius: 0.3rem;
}

.inputs-container .coordinates{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.btn-send{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1rem;
}

#dropdown_floors li{
    padding: 0.5rem;
}

.container-alerts-robots-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.container-alerts-robots-icon i{
    padding: 0.3rem;
}

#card-list-robots{
    height: 24rem;
    overflow-y: auto;
}

.alert-patients-col{
    padding-left: 0;
    padding-right: 0;
}

.others-col{
    padding-right: 0;
    padding-left: 0;
}

#map-image-container{
    height: 24rem;
}

.robots-list-btn{
    width: 100%;
    align-items: center;
}

.container-options-patients{
    margin-top: 0.5rem;
}

@media (min-width: 992px){
    #map-image{
        height: 90%;
    }

    .alert-patients-col{
        padding-left: 0;
        padding-right: 20px;
    }
    
    .others-col{
        padding-right: 0;
        padding-left: 20px;
    }

    .container-options-patients{
        margin-top: 0;
    }
}

@media (min-width: 576px){
    .modal-dialog-double {
        max-width: 800px;
    }
}

#alerts-users-container{
    height: 19rem;
    overflow-y: auto;
}

.modal-header{
    width: 100%;
}

#options-move label input, #options-measure-type label input, .inputs-container label input{
    margin-right: 0.5rem;
}

.pd-right-15{
    padding-right: 15px;
}

.special-label{
    background-color: var(--primary_color) !important;
    padding-left: 22px !important;
}

.nav-tabs{
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.4rem;
    padding-left: 0;
}

.nav-tabs li a{
    color: var(--primary_color);
    padding: 0.5rem;
}

.nav-tabs li a:hover{
    text-decoration: none;
}

.nav-tabs .active{
    color: white;
    background-color: var(--primary_color);
}

.nav-tabs li:hover a{
    color: white;
    background-color: var(--primary_color);
}

.options-navigation{
    background-color: var(--primary_color);
    border-radius: 0.3rem;
}