/* -----------------------colors----------------------*/
:root {
    --primary_color: #bee8e7;
    --primary_color_dark: #7ec2c0;
    --primary_color_dark_2: #3f8b8a;
    --secundary_color: #e8c9be;
    --secundary_color_light: #f5ddc4;
    --grey_color_transparent: #8888884f;
	--grey_color_dark: #343a40;
	--grey_color_light: #7e7e7e;
    --white_color_transparent: #f6f3f3ce;
}

/* -----------------------html----------------------*/
html{
	scroll-behavior: smooth !important;
}

/* -----------------------body----------------------*/
body{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 1rem;
}

/* -----------------------menu----------------------*/
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img{
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
    background-color: var(--primary_color) !important;
}

.navbar{
	padding: 0;
}

.navbar-brand {
	width: 4rem;
	height: 3.2rem;
	padding: 0.2rem 0.5rem;
}

.navbar-brand img{
	width: 3.5rem;
	height: 3.2rem;
	margin: 0%;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	
}

.navbar-toggler {
	float: right;
	border: none;
	padding: 0.5rem 1rem;
}


.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}

.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 2px solid white;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: white;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.nav-link{
	color: var(--grey_color_dark) !important;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link{
	color: var(--primary_color_dark_2) !important;
    font-size: 1.2rem;
}

.nav-item.active .nav-link{
	color: #777 !important;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item:after{
	position: absolute;
	bottom: -0.15rem;
	left: 0;
	width: 100%;
	height: 0.1rem;
	content: '';
	background-color: transparent;
	opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}

.nav-item.active:hover:after{
	opacity: 0;
}

.nav-item{
	position: relative;
    text-align: center;
    transition: all 200ms linear;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-top: 1px solid var(--white_color_transparent);
	padding-left: 0 !important;
}

.selected-item{
    font-weight: bold;
    font-size: 1.2rem;
}

.selected-item .nav-link{
	color: var(--primary_color_dark_2) !important;
}

.navbar-expand-md .navbar-nav{
	padding-bottom: 0 !important;
}

/* Menú no desplegable */
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav{
        align-items: center;
        margin-right: 1rem;
    }

	.nav-item{
		position: relative;
		text-align: center;
		transition: all 200ms linear;
		border-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.nav-item:after{
		position: absolute;
		bottom: -0.15rem;
		left: 0;
		width: 100%;
		height: 0.1rem;
		content: '';
		background-color: var(--primary_color_dark_2);
		opacity: 0;
		transition: all 200ms linear;
	}
}

/* -----------------------footer----------------------*/
footer{
	background-color: var(--primary_color);
	color: var(--grey_color_dark);
	text-align: center;
}

.icons-social-networks a{
	color: var(--grey_color_dark);
	border-color: var(--grey_color_dark);
}

.btn-outline-light:hover {
    color: var(--primary_color);
    background-color: var(--primary_color_dark_2);
    border-color: var(--primary_color_dark_2);
}

.copyright{
	background-color: rgba(0, 0, 0, 0.2);
}

.copyright a{
	color: var(--grey_color_dark);
}

/* -----------------------otros----------------------*/
#up-button{
    transform: rotate(-90deg);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    font-size: 12px;
    cursor: pointer;
}

.separation{
	padding-top: 4rem;
}

.btn-primary{
	background-color: var(--secundary_color);
	color: white;
	border-color: var(--secundary_color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary-2{
	background-color: white !important;
	color: var(--secundary_color) !important;
	border-color: var(--secundary_color) !important;
}

.btn-primary-2:hover{
	background-color: var(--secundary_color);
	color: white;
	border-color: var(--secundary_color);
}

.btn-primary-disabled{
	background-color: var(--grey_color_light);
	color: white;
	border-color: var(--grey_color_light);
}

.btn-primary:disabled{
	background-color: var(--grey_color_dark);
	color: white !important;
	border-color: var(--grey_color_transparent) !important;
}

.btn-primary[disabled]:hover{
	background-color: var(--grey_color_dark) !important;
}

.btn-secondary{
	background-color: var(--primary_color_dark_2);
	color: white;
	border-color: var(--primary_color_dark);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active{
	background-color: white !important;
	color: var(--primary_color_dark_2) !important;
	border-color: var(--primary_color_dark_2) !important;
}

.link-extern{
	color: var(--secundary_color);
}

.link-extern:hover{
	color: var(--secundary_color_light);
}