#welcome-landing{
    background-image: url("../media/images/landing_background_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
}

.medical-principal-image{
    width: 100%;
}

.title-section{
    padding-top: 5vh;
    text-align: center;
    color: white;
}

.title-section h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--primary_color_dark_2);
}

.title-section h3{
    padding-bottom: 2vh;
}

@media (min-width: 768px){
    #welcome-landing{
        background-image: url("../media/images/landing_background_pc.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 93vh;
    }

    .title-section{
        padding-top: 10vh;
        text-align: start;
        color: white;
    }

    .title-section h1{
        font-weight: bold;
        font-size: 5rem;
        color: var(--primary_color_dark_2);
    }
}

#information-robot, #information-images, #contact-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#information-robot h3{
    text-align: center;
}

.icon-information{
    background: var(--secundary_color);
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
}

.icon-information img{
    height: 100%;
    padding: 0.5rem;
}

.card-information{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--grey_color_transparent);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: 20rem;
}

.icon-more-information{
    margin-top: 1rem;
}

.icon-more-information h5{
    font-weight: bold;
}

.card-information:hover{
    border-color: var(--primary_color);
    box-shadow: 0.1rem 0.1rem var(--grey_color_transparent);
}

#information-robot .container{
    max-width: 90%;
}

#information-images{
    background-color: var(--primary_color);
}

.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-inner{
    border-radius: 0.5rem;
}

.slide{
    margin: 0;
}

@media (min-width: 768px){
    .slide{
        margin: 2rem;
    }
}

.contact-title{
    text-align: center;
}

.information-data{
    margin-bottom: 2rem;
}

.information-data, .form-data{
    border: 1px solid var(--grey_color_transparent);
    box-shadow: 0.1rem 0.1rem var(--grey_color_transparent);
    padding: 1rem;
    border-radius: 0.5rem;
    height: auto;
}

@media (min-width: 992px){
    .information-data, .form-data{
        height: 30rem;
    }

    .information-data{
        margin-bottom: 0;
    }
}

.information-data div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.information-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-data p{
    width: 100%;
}

.submit-btn-form{
    display: flex;
    justify-content: flex-end;
}