html, body {
    overflow: hidden
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.empty-section{
    display: block;
    background-image: url("../media/images/login_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
}

.container-100-width{
    max-width: 100%;
}

.submit-btn-form{
    display: flex;
    justify-content: flex-end;
}

.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 93vh;
    padding: 12%;
}

.login-section h3{
    text-align: center;
}

.lost-password{
    border-top: 1px solid var(--grey_color_transparent);
    padding-top: 1rem;
    text-align: center;
}

@media (max-width: 1200px){
    .login-section{
        padding: 3%;
    }
}

@media (max-width: 768px){
    .empty-section{
        display: none;
    }

    .login-section{
        padding: 5%;
    }
}