.btn-back{
    margin-bottom: 0.5rem;
}

.btn-back a{
    color: white;
    text-decoration: none;
}

.btn-back a:hover{
    color: var(--secundary_color);
    text-decoration: none;
}

.top-with-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.top-with-btn button{
    max-width: fit-content;
}

#alerts-users-container {
    height: 16.8rem;
    overflow-y: auto;
}

.multiple-btn{
    display: flex;
    flex-direction: column;
}

.multiple-btn .btn-secondary{
    margin-right: 0;
    margin-bottom: 0.2rem;
}

@media (min-width: 430px){
    .multiple-btn{
        display: flex;
        flex-direction: row;
    }
    
    .multiple-btn .btn-secondary{
        margin-right: 0.2rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1031px){
    .multiple-btn{
        display: flex;
        flex-direction: column;
    }
    
    .multiple-btn .btn-secondary{
        margin-right: 0;
        margin-bottom: 0.2rem;
    }
}

@media (min-width: 1787px){
    .multiple-btn{
        display: flex;
        flex-direction: row;
    }
    
    .multiple-btn .btn-secondary{
        margin-right: 0.2rem;
        margin-bottom: 0;
    }
}