.btn-back{
    margin-left: 0.5rem;
}

.btn-back a{
   color: white;
   text-decoration: none;
}

.btn-back a:hover{
    color: var(--secundary_color);
    text-decoration: none;
 }

 #alerts-users-container{
    height: 15rem;
 }

 .pd-right-15{
    margin-bottom: 2rem;
}

#v-pills-blanck-tab {
    height: 14.1rem;
}

 @media (max-width: 1140px){
    #v-pills-blanck-tab {
        height: 31rem;
    }
}