.card-header, .card-header-child{
    background-color: var(--primary_color);
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header-child{
    height: 1rem;
}

.view_patients{
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.dropdown-search .form-control{
    max-width: 10rem;
}

#card-hearder-view-patients{
    display: flex;
    justify-content: space-between;
    margin: 0.01rem;
}

#buscar{
    align-self: flex-end;
}

.formularioBusqueda{
    justify-content: flex-end;
}

.top-with-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.dropdown-search{
    display: flex;
    flex-direction: row;
}

.btn-primary{
    max-width: fit-content;
    border-radius: .25rem !important;
}

/* -----------------------------------------
------------- LISTA PACIENTES --------------
----------------------------------------- */

.map_block{
    padding: 0.5rem;
}

#list-patient{
    display: flex;
}

.patient-file{
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    border-radius: 0.3rem;
    cursor: pointer;
}

.patient-file:hover, #itemSelectedCenter{
    opacity: 0.9;
    box-shadow: 0.8rem 0.8rem 0.5rem var(--grey_color_transparent);
}

.patient-file .card-header, .card-header-child{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.patient-file .card-body{
    background-color:  var(--primary_color);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding: 0.5rem;
}
#data-card-patient{
    text-align: center
}
#btn-card-patient{
    display: flex;
    justify-content: flex-end;
}

#btn-card-patient button .fas{
    color: white;
}

#btn-card-patient button .fas:hover, 
#btn-card-patient button .fas:focus{
    color: var(--secundary_color);
    box-shadow: none;
}

#btn-card-patient button{
    padding: 0.3rem;
}

#btn-card-patient button:focus{
    box-shadow: none;
}

.btn-group-erase-patient{
    display: flex;
    justify-content: flex-end;
}

.btn-group-erase-patient button{
    margin: 0.5rem;
    width: 20%;
    border-radius: 0.5rem;
}

.btn-cancel{
    background-color:  var(--primary_color_dark_2);
    color: white;
}

.btn-cancel:hover, 
.btn-cancel:focus{
    background-color:  white;
    color:  var(--primary_color_dark_2);
    border-color: var(--primary_color_dark_2);

}

.scrollbar-personalizada{
    position: relative;
    max-height: 40rem;
    overflow: auto;
}

.card-body{
    flex:none;
}


/* -----------------------------------------
------------ HISTORIAL MEDIDAS -------------
----------------------------------------- */

.patient_measures .card-body{
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.patient_measures .card-body .col-2{
    padding-right: 0;
    padding-left: 0;
}

.patient_measures .card-body a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    width: 3rem;
    height: 2.5rem;
    border-bottom: 1px solid var(--grey_color_transparent);
    border-right: 1px solid var(--grey_color_transparent);
    background: white;
    border-radius: 0;
}

.patient_measures .card-body a:hover{
    border-bottom: 1px solid var(--grey_color_transparent);
    border-right: 1px solid var(--grey_color_transparent);
    background: var(--primary_color);
}

#v-pills-blanck-tab{
    border-bottom: 1px solid var(--grey_color_transparent);
    border-right: 1px solid var(--grey_color_transparent);
    background: white;
}

.fa-thermometer-half,
.fa-heartbeat,
.fa-bed,
.fa-utensils{
    color: var( --primary_color_dark_2);
}

.patient_measures .card-body a:hover .fa-thermometer-half:before,
.patient_measures .card-body a:hover .fa-heartbeat:before,
.patient_measures .card-body a:hover .fa-bed:before,
.patient_measures .card-body a:hover .fa-utensils:before
{
    color: white;
}

.patient_measures .nav-pills .nav-link.active, .patient_measures .nav-pills .show>.nav-link {
    background-color: var(--primary_color);
}

.drop_down_selector, .drop_down_selector:hover, .drop_down_selector:focus{
    color: black;
    background-color: transparent;
    border: 0px;
    padding: 0;
}

.dropdown-menu {width:fit-content;}

#dropdown-map-btn{
    width: fit-content;
    margin-right: 0.5rem;
}

.vertical-row{
    padding-left: 0;
}

/* -----------------------------------------
-------------- TABLAS ALERTAS --------------
----------------------------------------- */

.table{
    text-align: center;
}

.table #tb-title{
    border:  2px solid #000000;
}

.table .alert-one{
    background-color: #ff9e99;
}

.table .alert-one td, .table .alert-one th{
    border:  2px solid #C23B22;
}

.table .alert-two{
    background-color: #ffdf9e;
}
.table .alert-two td, .table .alert-two th{
    border:  2px solid #ff6600;
}

.table .alert-three{
    background-color: #fdfd96;
}
.table .alert-three td, .table .alert-three th{
    border:  2px solid #f9d71c;
}

.table .alert-four{
    background-color: #d2ff95;
}
.table .alert-four td, .table .alert-four th{
    border:  2px solid #008000;
}

.table .alert-five{
    background-color: #bbeaff;
}
.table .alert-five td, .table .alert-five th{
    border:  2px solid #30106b;
}

/* -----------------------------------------
------------ ALERTAS PACIENTES -------------
----------------------------------------- */

.patient-alerts-card-div{
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--grey_color_transparent);
    margin-bottom: 1rem;
}

#patient-alert-color{
    width: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    height: auto; 
}

.patient-alerts-content{
    border-radius: 0 0.3rem 0.3rem 0;
    width: 90%;
}

.patient-alerts-content .container{
    margin: 0.5rem;
}

.patient-alerts-content .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-alerts-content .container .row img{
    width: 15%;
    height: auto;
}

.patient-alerts-content .container .row div{
    margin-left: 0.3rem;
}

.patient-alerts-content .container .row div p{
    margin-bottom: 0;
}

.btn-delete{
    background-color: var(--primary_color_dark_2);
    text-align: center;
    margin: 1rem;
    height: 1.7rem;
    padding: 0 0.5rem;
    text-align: center;

}

.scrollbar-personalizada2{
    position: relative;
    height: 30vh;
    overflow: auto;
}


/* Gráficas y checklist */

#temp_chart{
    height: 15vh;
    width: 10vw;
}

.form-check label{
    font-size: 0.7rem;
}

#card-center-info{
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.card-body-historial{
    margin-top: 0;
}

#v-pills-blanck-tab{
    height: 13rem;
}

#calories_chart, #heartbeat_chart, #sleep, #thermometer_chart{
    display: flex;
    justify-content: center;
}

.title-measure{
    text-align: center;
}

#calories_chart canvas, #heartbeat_chart canvas, #sleep canvas, #thermometer_chart canvas{
    width: 30rem !important;
    height: 20rem !important;
    display: none;
}